<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adauga produs</title>
</head>
<body>

    <a href="{% url 'simpleapp:logout' %}"> Logout </a> <br>

    Adauga produs

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

</body>
</html>