<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

<a href="{% url 'simpleapp:login' %}"> Login </a> <br>

{# jquery #}
{#<input type="text" class="search"/> <br>#}

{# js plain #}
<input type="text" class="search" onkeyup="search(this.value)"/> <br>


<div class="body" id="here">
    {% for p in produse %}
        <div class="media">
            <img class="d-flex align-self-center mr-3" width="70" height="70" src="{{ p.poza.url }}">
            <div class="media-body">
                <h5 class="mt-0" data-toggle="modal" data-target="#exampleModal{{ p.pk }}"> {{ p.nume }} </h5>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="exampleModal{{ p.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ p }}
                    </div>
                    <div class="modal-footer">
                        <img src="{{ p.poza.url }}" width="70" height="70" style="justify-content: flex-end">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>

<script>
    {#$('.search').keyup(function () {#}
    {#    let pattern = this.value;#}
    {#    let url = '{% url 'simpleapp:search' 0 %}'.replace(0, pattern);#}
    {##}
    {#    $.ajax({#}
    {#        type: 'GET',#}
    {#        url: url,#}
    {#        success: function (result) {#}
    {#            $.each(result, function (index, element) {#}
    {#                $('.body').html('asa');#}
    {#                console.log(element.nume);#}
    {#            });#}
    {#        }#}
    {#    })#}
    {#); #}

    {#plain js#}

    function search(str) {
        let xmlhttp = new XMLHttpRequest();
        let url = '{% url 'simpleapp:search' 0 %}'.replace(0, str);


        xmlhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                {# do your job#}
                document.getElementById("here").innerHTML = this.responseText;
            }
        };

        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>